<header id="header" class="main-header">
    <div class="wrapper">
        <nav>
            {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
                <a href="{{ link.url }}">{{ link.title }}</a>
        
            {% else %}
                <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
            {% endfor %}

            <button class="open-offcanvas">Cart</button>
            <span>
                <template v-if="cart">
                 ( ${cart.item_count} )
              </template>
            </span>
        </nav>

    </div>
    <div class="minicart-outer offcanvas closed">
        {% comment %} Minicart will be here {% endcomment %}
        {% render 'minicart' %}

    </div>
</header>



<script>
  if (document.querySelector('#header')) {
    const headerCart = Vue.createApp({
      delimiters: ['${','}'],
      data() {
        return {
          cartData: store.state.cartState
        }
      },
      methods: {
        
        money(value) {
          if (!value) return 0
          return "$" + (value/100).toFixed(2)
        }
      },
      computed: {
        cart() {
          return this.cartData[0]
        }
      },
      created() {
        store.getCart()
      }
    }).mount('#header')
  }
</script>