<div class="ws-minicart">
			<div class="wrapper">
				<h1>Cart</h1>
				<a href="#" class="only-lg minicart-continue-message">Continue Shopping</a>
                <button class="minicart-closes open-offcanvas">X</button>

				<template v-if="cart && cart.items.length > 0">
                    <div class="minicart-items-loop">
                    
                        <div class="minicart-items-header">
                            <p>Price</p>
                            <p>Quantity</p>
                            <p>Total</p>
                        </div>
                    
                                        <!-- usar grid aqui -->
                        <div class="minicart-item-single" v-for="item in cart.items">
                            <div class="item-single-img">
                                <img :src="item.image" :alt="item.title" />
                            </div>
                            <div class="item-single-description">
                                        <div>
                                            <p class="product-title"> ${ item.title }</p>
                                            <p class="product-variant">${ item.options_by_name }</p>
                                            <a href="#" class="product-remove only-lg" @click="removeCartItem(item)">Remove</a>
                                        </div>
            
                                        <div>
                                            <p class="product-price-single only-lg">${ money(item.price) }</p>
                                            <div class="product-quantity"><input type="text" v-model="item.quantity"></div>
                                            <p class="product-price-total">${ money( item.price * item.quantity ) }</p>
                                        </div>
                                                
                                            </div>
                        </div>
                    </div>

                    <div class="minicart-footer">
                        <div class="minicart-ordernote-container">
                            <form action="">
                                <label for="minicart-ordernote">Ordernote</label>
                                <textarea id="minicart-ordernote" wrap="off" name="minicart-ordernote" v-model="note"></textarea>
                            </form>
                        </div>
                        <div class="minicart-subtotal">
                            <h2>Subtotal</h2>
                            <p>${ money(cart.total_price) }</p>
                        </div>
                        <div class="minicart-meta">
                            <p>Mensagem</p>
                            <a href="" class="minicart-update only-lg">Update Cart</a>
                            <a href="" class="minicart-checkout">Checkout</a>
                        </div>
                    </div>


                </template>
                
			</div>
		</div>