/* minicart container **/

.minicart-outer {
    height: 100vh;
    width: 100vw;
    z-index: 99;
    background-color: $cream;
    position: absolute;
    top: 0;
    right: 0;
    @extend %outline;
    transition: transform 0.6s ease-out;
    @include bp(L) {
        width: 65vw;
    }

    &.closed {
    transition: transform 0.6s ease-in;
    transform: translateX(165vw);
    }
}

/* minicart container **/

/* minicart inside container  **/
.ws-minicart {
    &>.wrapper {
        &>h1, &>.minicart-continue-message {
            text-align: center;
        }
        &>.minicart-continue-message {
            @include fontparam('Nunito', 200);
            font-size: 1.15rem;
            text-decoration: none;
            color: $text;
            &:link, &:visited {
                color: $text;
            }
        }
        h1 {
            font-size: toRem(24px);
            margin: toRem(24px) 0;
            @include fontparam('Nunito', 600);
            @include bp(L) {
                @include fontparam('Cormorant', 600);
                font-size: toRem(42px);
                margin: toRem(32px) 0;
            }

        }
        h2 {
            font-size:toRem(16px);
            //margin: toRem(16px) 0;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            @include fontparam('Nunito', bold);
            @include bp(L) {
                font-size:toRem(18px);
            }
        }
    }
}

/* minicart inside container  **/



/* minicart loop - could be inserted better **/


.minicart-items-loop {
    padding: toRem(32px) 0;

    .minicart-items-header {
        display: none;
        @include bp(L) {

            display: grid;
            justify-items: end;
            justify-content: end;
            grid-template-columns: repeat(3, 1fr);
            width: 50%;
            margin-left: auto;
            padding: toRem(24px) 0;
        }

        &>p {
            place-self: center;
            text-align: center;
            @include fontparam('Nunito', 400);
        }
    }

    .minicart-item-single {
        //@extend %outline;
        width: 100%;
        display: grid;
        grid-template-columns: fit-content(100px) auto;
        column-gap: toRem(32px);
        align-items: center;

        @include fontparam('Nunito', 200);
        font-size: toRem(16px);

        @include bp(L) {
            background-color: $cream-light;
            padding: toRem(32px) 0 toRem(32px) toRem(32px);
        }
        & + .minicart-item-single {
            margin-top: 32px;
        }
        &>.item-single-description {
            display: flex;
            flex-direction: column;
            @include bp(L) {
                flex-direction: row;
            }

            // quantidade e preço total 
            &>div {
                &:nth-of-type(1) {
                    display: flex;
                    flex-direction: column;
                    @include bp(L) {
                        flex: 1 0 8%;
                    }
                }
                &:nth-of-type(2) {

                    outline: 0.1rem #f0f;
                    display: flex;
                    justify-content: space-between;

                    @include bp(L) {
                        flex-direction: row;
                        flex: 1 0 auto;
                        align-items: flex-end;
                    }
                    &>p {
                        @include bp(L) {
                            flex: 1 0 auto;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}

/* minicart loop -  **/


/* minicart - add a footer to group elements - but could be another one only to desktops */

.minicart-footer {

    display: flex;
    flex-direction: column;
    @include bp(L) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .minicart-ordernote-container {
        margin: toRem(18px) 0;
    
        @include bp(L) {
            grid-row: 1 / 3 ;

        }
        form {
            label {
                // mesmo que o h2 
                font-size:toRem(16px);
                margin: toRem(16px) 0;
                text-transform: uppercase;
                @include fontparam('Nunito', 600);

                @include bp(L) {
                    font-size:toRem(18px);
                }

            }
        }
        // need more styling
    }

    .minicart-subtotal {
        display: flex;
        align-content: center;
        justify-content: space-between;

        margin: toRem(18px) 0;
        @include fontparam('Nunito', 400);
    }
    .minicart-meta {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include fontparam('Nunito', 400);
        font-size: 1rem;

        @include bp(L) {
            flex-direction: row;
        }

        &>p {
            flex: 1 100%;
            margin: toRem(18px) 0;
        }
        
        // ambos os botoes
        &>a {
            flex: 1 0 auto;
            margin: toRem(18px) 0 0;
            opacity: 0.85;
            transition: opacity 0.4s ease-out;


            &:first-of-type {
                @include bp(L) {
                    margin-right: toRem(8px);
                }
            }
            &:last-of-type {
                @include bp(L) {
                    margin-left: toRem(8px);
                }
            }
            &:hover {
                opacity: 1;
                transition: opacity 0.4s ease-in;
            }
        }
        &>.minicart-update {
            display: none;
            @extend %button;
            @include bp(L) {
                display: block;
                text-transform: uppercase;
                background-color: $cream-light;
                color: $text;
                text-align: center;
                &:link, &:visited {
                    color: $text;
                }
            }
        }
        &>.minicart-checkout {
            @extend %button;
            text-transform: uppercase;
            background-color: $accent;
            color:#fff;
            &:link, &:visited {
                color: #fff;
            }
        }
    }

}

/* minicart - footer */


